apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default-pool
  namespace: metallb-system
spec:
  addresses:
    # TODO: Replace with a free range in your LAN
    - 192.168.68.240-192.168.68.250
